CRYPTO_OFFICE_PUBLIC_KEY=
CRYPTO_OFFICE_SECRET_KEY=
INTERNAL_API_KEY=
PORT=8000
CRYPTO_OFFICE_AML_SERVICE=crystal
CRYPTO_OFFICE_AML_PAYMENT_COIN=3
# CRYPTO_OFFICE_API_BASE_URL=https://public.crypto-office.com/api
# CRYPTO_OFFICE_AML_PATH=/v1/aml/store
# CRYPTO_OFFICE_TIMEOUT_MS=120000
